<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Lemon Drop</string>
	<string>Mojito</string>
	<string>Mexican Bomb</string>
	<string>Manhattan</string>
	<string>Music City Sunset</string>
	<string>Neapolitan</string>
	<string>Neon Geek</string>
</array>
</plist>
